*{box-sizing: border-box;}
body {
    font-size: 1.5em;
    width: calc(100% - 2em);
    height: 100%;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-rows: 100px calc(100% - 200px) 100px;
    font-family: helvetica;
    padding: 1em;
  }
  button,
  input {
    font-size: 1em;
    border-radius: 9px;
  }
  nav {
    grid-row: 1;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  #first {
    grid-column: 1/5;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  #logo {
    grid-column: 1/3;
  }
  #logoimg {
    width: 150px;
  }
  #search {
    grid-column: 3/7;
    width: 100%;
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  #seek {
    border: 0;
    background: lightgrey;
    padding: 5px;
  }
  #links {
    grid-column: 7/11;
    width: 100%;
    display: grid;
    grid-gap: 1em;
    align-items: start;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #links button,
  #search button {
    border: 0;
    background: none;
    font-size: 0.8em;
  }
  #seekbtn {
    margin-left: -1em;
  }
  #delete {
    background: tomato !important;
    color: ivory;
    border-radius: 50%;
    font-size: 0.6em;
    margin-top: 6px;
    margin-left: -2em;
    margin-right: 2em;
  }
  #defilinks {
    grid-column: 11/13;
    width: 100%;
    display: grid;
    align-items: start;
    justify-items: end;
    grid-template-columns: 1fr;
  }
  #defilinks button {
    background: tomato;
    border: 0;
    border-radius: 9px;
    color: ivory;
    width: 50%;
  }
  #stage {
    grid-row: 2;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  #box {
    padding-top: 2em;
    padding-bottom: 3em;
    grid-column: 1/-1;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background: white;
  }
  #show {
    grid-column: 1/-1;
    text-align: center;
  }
  #symbol img {
    width: 60px;
    margin-bottom:1em;
  }
  #box:nth-child(even) {
    background: #eeeeee;
  }
  #bar {
    width: 100px;
    height: 5px;
    background: #de6e62;
    margin-left: calc(50% - 50px);
    margin-top: 1em;
    
  }
  .last {
    background: white !important;
  }
  #introimg {
    width: 500px;
    grid-column: 7/12;
  }
  #introtxt {
    grid-column: 2/6;
    margin-top: 5em;
  }
  #headertext {
    color: #de6e62;
    font-weight: 100;
    font-size: 0.8em;
    letter-spacing: 0.2em;
  }
  #heading {
    font-weight: 900;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    margin-bottom: 1em;
    margin-top:1em;
  }
  #infotxt {
    font-weight: 100;
    font-size: 0.8em;
  }
  .one {
    grid-column: 1/4;
  }
  .two {
    grid-column: 4/7;
  }
  .three {
    grid-column: 7/10;
  }
  .four {
    grid-column: 10/13;
  }
  #card {
    padding: 2em;
  }
  
  .uno {
    grid-column: 1/5;
  }
  .dos {
    grid-column: 5/9;
  }
  .tres {
    grid-column: 9/13;
  }
  #inlay {
    padding: 2em;
    background: #243841;
    color: white;
    border-radius: 9px;
  }
  #icon {
    background: #de6e62;
    padding: 1em;
    width: 20px;
    border-radius: 9px;
    margin-bottom: 1em;
  }
  #icon:hover {
    background: #243841;
  }
  #inlay:hover {
    background: #de6e62;
  }
  #txt {
    font-size: 0.6em;
  }
  #fourth {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: start;
  }
  .four {
    grid-template-rows: 1fr !important;
  }
  #fourth button {
    background: none;
    border: 0;
    text-align: left;
    font-size: 0.6em;
    color: grey;
  }
  #nlform {
    margin-top: 1em;
    margin-bottom: 1em;
    justify-content: start;
  }
  #nlinput {
    background: lightgrey;
    border: 0;
    padding: 5px;
  }
  #nltext,
  #nlend {
    font-size: 0.6em;
  }
  #nlsend {
    background: #de6e62 !important;
    padding: 11px;
    color: white !important;
    margin-top: -2px !important;
  }
  #footer {
    width: 100%;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background: white !important;
  }
  #logofoot {
    grid-column: 1;
  }
  #license {
    grid-column: 2/6;
    font-size: 0.5em;
    padding-left: 1em;
    padding-top: 1em;
  }
  #sociallinks {
    grid-column: 8/9;
    text-align: right;
  }
  #sociallinks button {
    border: 0;
    background: none;
  }
  #caroussel{
      padding: 2em;
      grid-column:1/-1;
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 1em;
  }
  #carousselbig{
      padding: 2em;
      grid-column:1/-1;
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 1em;
  }
  .combi{
      background:white;
      border: 1px solid lightgrey;
      border-radius: 9px;
      padding: 1em;
      font-size: 0.6em;
  }
  #comimg{
      width: 100%;
  }
  #comavt{
    margin-top:-1.5em;
      width: 32px;
      height: 32px;
      border-radius: 50%;
  }
  #comico{
    margin-top:-1.5em;
      width: 32px;
      height: 32px;
      border-radius: 0%;
  }
  #combinf{font-size:0.3em;}
  